.about-content {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.about-content__description {
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    margin-bottom: 17px;
  }
}

.about-content__description-wrapper {
  &--close {
    transition: all 0.5s ease-out;
    position: fixed;
    transform: scale(0);
  }

  &--open {
    transition: all 0.5s ease-out;
    position: static;
    transform: scale(1);
  }
}

.about-content__description-plus {
  @include vp-767 {
    display: none;
  }
}
