.feature {
  padding: 40px 45px 35px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-left: 5px solid $color-neon-blue;
  min-height: 300px;

  @include hover-focus {
    background-color: $color-neon-blue;
    color: $color-light-text;
    border: none;

    .feature__image,
    .feature__title {
      color: $color-light-text;
    }
  }
}

.feature__image {
  margin-bottom: 20px;
}

.feature__title {
  margin: 0;
  margin-bottom: 20px;
}

.feature__image,
.feature__title {
  color: $color-neon-blue;
}
