.feature {
  padding: 40px 45px 35px;
  display: flex;
  flex-direction: column;
  outline: 1px solid #ebebeb;
  border-left: 5px solid $color-neon-blue;
  min-height: 300px;
  height: 100%;

  @include vp-1023 {
    padding: 40px 40px 32px;
  }

  @include vp-767 {
    padding: 28px 35px 52px 24px;
  }

  @include hover-focus {
    background-color: $color-neon-blue;
    color: $color-light-text;

    h3 {
      color: $color-light-text;
    }

    .feature__image {
      color: $color-light-text;
    }
  }
}

.feature__image {
  margin-bottom: 24px;
  color: $color-neon-blue;

  @include vp-1023 {
    margin-bottom: 15px;
  }
}

.feature h3 {
  margin: 0;
  margin-bottom: 0;
  font-size: 24px;
  color: $color-neon-blue;
  font-weight: 400;

  @include vp-1023 {
    line-height: 1.4;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 28.13px;
  }
}

.feature p {
  font-family: "PT Mono", sans-serif;
  font-size: 16px;

  @include vp-1023 {
    margin: 10px 0 0;
    line-height: 1.35;
  }

  @include vp-767 {
    font-family: "PT Mono", sans-serif;
    font-size: 14px;
    line-height: 18.9px;
  }
}
