.footer-nav {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-767 {
    margin: 0;
  }

  &--topics {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    gap: 0 18px;
    align-content: flex-start;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: none;
    }
  }
}

.footer-nav__link {
  padding: 4px;
  padding-right: 25px;
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  transition: color $trans-default;

  @include vp-1023 {
    padding: 3px 2px 4px;

    br {
      display: none;
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }

  @include hover-focus {
    color: $color-neon-blue;
  }
}

