.footer-nav {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &--topics {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    gap: 0 40px;
    align-content: flex-start;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

.footer-nav__link {
  padding: 4px;
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }
}
