.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  column-gap: 30px;
  row-gap: 19px;
  z-index: 2;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    min-width: 270px;
  }

  &--modal {
    display: flex;
    flex-direction: column;
  }
}


.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  grid-column: 1 / -1;

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.form__description {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  margin-top: -7px;
  grid-column: 1 / -1;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.form__input {
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  padding: 15px;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  width: 100%;

  &--req {
    &:valid {
      box-shadow: 0  0 5px 2px rgba(75, 252, 102, 0.5);
      transform: translateY(-5px);
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }


  @include hover-focus {
    opacity: 0.8;
    outline: 2px solid $color-default-white;
  }

  &::placeholder {
    color: $color-default-white;
  }

  &--textarea {
    grid-column: 1 / -1;
    resize: vertical;
    padding-top: 27px;
  }
}

.form__check {
  padding-top: 15px;

  @include vp-1023 {
    padding-top: 28px;
  }
}

.form__button {
  @include vp-1023 {
    width: 265px;
    margin-top: 17px;
  }
}

