.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 19px;
  z-index: 2;
  max-width: 580px;

  @include vp-1023 {
    max-width: 670px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    min-width: 270px;
  }

  &--modal {
    display: flex;
    flex-direction: column;
  }
}


.form__input input,
.form__textarea textarea {
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  padding: 15px;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  width: 100%;
  box-sizing: border-box;


  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }


  @include hover-focus {
    opacity: 0.8;
    outline: 2px solid $color-default-white;
  }

  &::placeholder {
    color: $color-default-white;
  }
}

.form__textarea {
  grid-column: 1 / -1;
}

.form__textarea textarea {
  min-height: 155px;
  padding-top: 22px;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    min-height: 180px;
    padding-top: 25px;
  }
}

.form__input input:valid {
  box-shadow: 0  0 5px 2px rgba(75, 252, 102, 0.5);
}

.form__element {
  grid-column: 2 / 3;
  box-sizing: border-box;

  @include vp-767 {
    order: 6;
    max-width: 270px;
  }
}

.form__check {
  box-sizing: border-box;
  padding-top: 22px;
  padding-left: 9px;

  @include vp-1023 {
    padding-top: 18px;
    margin-left: -8px;
  }

  @include vp-767 {
    padding: 0;
    margin-top: 7px;
    margin-left: 7px;
  }

  &--modal {
    padding-top: 0;
  }
}

.form__button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: 45px;
  margin-top: 7px;
  margin-right: 7px;


  @include vp-1023 {
    width: 265px;
    margin-top: 9px;
    height: 45px;
    margin-right: 0;
  }

  @include vp-767 {
    margin-top: 4px;
    width: 100%;
    margin-right: 0;
  }


  &--modal {
    margin: 0;
    margin-top: -3px;
  }
}
