.main-header {
  background: $color-default-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $color-light-text;
  padding-top: 30px;
  padding-bottom: 35px;
}
