.main-header {
  width: 100%;
  background: $color-default-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $color-light-text;
  padding-top: 23px;
  padding-bottom: 35px;
  position: fixed;
  z-index: 3;
  grid-row: 1 / 2;

  @include vp-1023 {
    position: relative;
    margin-bottom: -100px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: -70px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .logo__content svg {
    margin-top: 12px;

    @include vp-1023 {
      margin-top: 0;
    }
  }
}

.main-header__logo {
  margin-right: auto;
}

.main-header__nav {
  @include vp-1023 {
    align-self: baseline;
    margin-top: 10px;
  }

  @include vp-767 {
    margin-top: 5px;
  }
}

.main-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1302px;
}

.main-header__button {
  margin-left: auto;
  margin-right: 66px;

  @include vp-1023 {
    display: none;
  }
}
