.main-nav__list {
  list-style: none;
  display: flex;
  gap: 30px 120px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  color: $color-light-text;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.main-nav__image {
  margin-right: 15px;
}

.main-nav__content {
  @include vp-1023 {
    display: none;
  }
}
