.main-form {
  background-color: #00b3ff;
  position: relative;


  &::before {
    content: "";
    background-color: rgba(4, 24, 39, 0.5);
    position: absolute;
    width: 50%;
    height: 100%;
    display: block;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 1;


    @include vp-1023 {
      display: none;
    }
  }
}


.main-form__container {
  padding-top: 166px;
  padding-bottom: 252px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-items: center;
  max-width: 1302px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    padding-top: 46px;
    padding-bottom: 125px;
  }

  @include vp-767 {
    padding-top: 46px;
    padding-bottom: 90px;
  }
}

.main-form h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }
}

.main-form p {
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 40px;
  }
}

.main-form__image-wrapper {
  z-index: 1;
  padding-top: 22px;

  @include vp-1023 {
    display: none;
  }
}
