.product-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #000000;
  min-height: 650px;
  transition: opacity $trans-default;

  @include vp-1023 {
    justify-content: space-between;
    min-height: 250px;
  }

  @include vp-767 {
    min-height: 250px;
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $color-neon-blue;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='10' viewBox='0 0 5 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.476196 8.80957L4.28572 5.00005L0.476196 1.19052' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &--production {

    background-image: url("../img/product1@1x.webp");


    @media (min-width: $vp-1024) {
      @include retina {
        background-image: url("../img/product1@2x.webp");
      }
    }

    @include vp-1023 {
      background-image: url("../img/product1-tablet@1x.webp");

      @include retina {
        background-image: url("../img/product1-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/product1-mobile@1x.webp");

      @include retina {
        background-image: url("../img/product1-mobile@2x.webp");
      }
    }
  }

  &--montage {

    background-image: url("../img/product2@1x.webp");


    @media (min-width: $vp-1024) {
      @include retina {
        background-image: url("../img/product2@2x.webp");
      }
    }

    @include vp-1023 {
      background-image: url("../img/product2-tablet@1x.webp");

      @include retina {
        background-image: url("../img/product2-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/product2-mobile@1x.webp");

      @include retina {
        background-image: url("../img/product2-mobile@2x.webp");
      }
    }
  }

  &--component {

    background-image: url("../img/product3@1x.webp");


    @media (min-width: $vp-1024) {
      @include retina {
        background-image: url("../img/product3@2x.webp");
      }
    }

    @include vp-1023 {
      background-image: url("../img/product3-tablet@1x.webp");

      @include retina {
        background-image: url("../img/product3-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/product3-mobile@1x.webp");

      @include retina {
        background-image: url("../img/product3-mobile@2x.webp");
      }
    }
  }
}

.product-card h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  padding: 50px 140px 100px 40px;
  margin: 0;

  @include vp-1023 {
    padding: 40px 476px 50px 45px;
  }

  @include vp-767 {
    padding: 30px 111px 50px 30px;
    font-size: 18px;
  }
}
