.social {
  @include vp-1023 {
    justify-self: flex-end;
  }
}

.social__list {
  padding: 0;
  gap: 15px;
  display: flex;
  margin-left: -6px;
  flex-wrap: wrap;

  @include vp-1023 {
    margin-top: 6px;
    margin-right: -5px;
  }

  @include vp-767 {
    margin-top: 9px;
    margin-right: -10px;
  }
}

.social__item {
  transition: all $trans-default;


  @include hover-focus {
    opacity: 0.8;
    transition: all $trans-default;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.social__link-img {
  transition: all $trans-default;
  margin: 5px;
  object-fit: cover;

  fill: $color-default-white;
}

.social__link {
  display: grid;
  place-content: center;
}

.social__link:hover .social__link-img {
  fill: $color-neon-blue;
  transform: scale(1.2) rotate(360deg);
}

.social__link:active .social__link-img {
  fill: $color-neon-blue;
  transform: scale(1.1);
  opacity: 0.3;
}

.social__link:focus .social__link-img {
  fill: $color-neon-blue;
}
